* { 
    padding: 0
    margin 0
  }

body{
    background-color: black;
}
/* aca comienza el formulario */

.formulario{
    margin: 100px 22%;
    padding: 10px;
    width: 50%;
    height: 480px;
    background-color: greenyellow;
    border: 5px solid black;
    border-radius: 5px;
}
.msj{
    height: 100px;
    margin: 10px 40%;
    width: 25%;
}
.nombre{
    margin: 10px 40%;
    height: 20px;
    width: 25%;
}
.mail{
    margin: 10px 40%;
    height: 20px;
    width: 25%;
}
.submit{
    margin: 10px 58%;
    height: 50px;
    width: 70px;
}
label{
    margin: 10px 40%;
    font-size: 20px;
}

section {
    padding: 60px 0;
    
}

.subtitulo-pag2{
    text-align: center;
}

.subtitulo-4{
    text-align: center;
}
   


    /* aca termina el formulario */
  

/* aca comienza el footer */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.contact-area {
border-bottom: 1px solid #353C46;
}

.contact-content p {
font-size: 15px;
margin: 30px 0 60px;
position: relative;
}

.contact-content p::after {
background: #353C46;
bottom: -30px;
content: "";
height: 1px;
left: 50%;
position: absolute;
transform: translate(-50%);
width: 80%;
}

.contact-content h6 {
color: #8b9199;
font-size: 15px;
font-weight: 400;
margin-bottom: 10px;
}

.contact-content span {
color: #353c47;
margin: 0 10px;
}

.contact-social {
margin-top: 30px;
}

.contact-social > ul {
display: inline-flex;
}

.contact-social ul li a {
border: 1px solid #8b9199;
color: #8b9199;
display: inline-block;
height: 40px;
margin: 0 10px;
padding-top: 7px;
transition: all 0.4s ease 0s;
width: 40px;
}

.contact-social ul li a:hover {
border: 1px solid #FAB702;
color: #FAB702;
}

.contact-content img {
max-width: 210px;
}

section, footer {
background: #1A1E25;
color: #868c96;
}

footer p {
padding: 40px 0;
text-align: center;
}

footer img {
width: 44px;
}
/* aca termina el footer */

.india{


}
    





